@charset "UTF-8";
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v27-latin-regular.woff2 .//roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff");
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin-500.woff") format("woff");
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v27-latin-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin-700.woff") format("woff");
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.header {
  background: #e5e5e5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, #e5e5e5), color-stop(51%, #f6f9ff));
  background: linear-gradient(180deg, #e5e5e5 18%, #f6f9ff 51%);
  height: 680px;
  background-image: url(/img/V.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.header .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -100px;
}

.header .navbar .menu .menu__list {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
}

.header .navbar .menu .menu__list .menu__link {
  color: #272D4E;
}

.header .navbar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar__right .login, .header .navbar__right .getstart, .header .navbar__right .search__btn {
  background-color: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
}

.header .intro .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .intro .container .modal__shoes {
  background: #fff !important;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  height: 158px;
  width: 406px;
  border-radius: 23px;
  z-index: 20;
  right: 100px;
  top: 400px;
  border-radius: 23px;
  position: absolute;
}

.header .intro .container .modal__shoes .span {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #E5EFFF;
}

.header .intro .container .modal__shoes .span:last-child {
  border: none;
}

.header .intro .container .activ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .intro .container .img__wrapper {
  margin: -80px;
  height: 350px;
  width: 600px;
  border-radius: 20px;
  border: 1px solid #E5EFFF;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .intro .container .img__wrapper img {
  margin-left: -1px;
}

.header .intro .container .img__wrapper .text__wrapper {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  margin-top: -250px;
  position: relative;
}

.header .intro .container .img__wrapper .text__wrapper p {
  padding-left: 20px;
  margin-top: 50px;
  color: #868686;
}

.header .intro .container .img__wrapper .text__wrapper p b {
  color: #272D4E;
}

.header .intro .container .img__wrapper .text__wrapper .shoes__title {
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
  font-size: 29px;
  width: 250px;
  font-weight: 400;
  text-align: left;
}

.header .intro .container .img__wrapper .shoes__btn {
  position: absolute;
  top: 280px;
  margin-left: 20px;
  height: 49px;
  padding: 0 40px;
  border-radius: 4px;
  background: #7854F7;
  color: #fff;
}

.header .intro .container .img__wrapper .sale__btn {
  border: none;
  height: 54px;
  width: 117px;
  border-radius: 37px;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.4em;
  text-align: center;
  background: #70C217;
  position: absolute;
  right: 345px;
  top: 50px;
  color: #fff;
}

.header .intro .container .img__wrapper .sell__btn {
  border: none;
  width: 75px;
  height: 75px;
  z-index: 30;
  position: absolute;
  background: #FFBA49;
  background-repeat: no-repeat;
  background-image: url(/img/Union.svg);
  background-position: center;
  border-radius: 50%;
  right: 540px;
  top: 320px;
}

.header .intro .container .intro__text__wrapper {
  padding: 100px 0 0 50px;
}

.header .intro .container .intro__text__wrapper .intro__title {
  font-family: 'Roboto', sans-serif;
  font-size: 68px;
  font-weight: 700;
  width: 750px;
}

.header .intro .container .intro__text__wrapper .intro__text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 716px;
  color: #94A2B3;
  padding: 29px 0 57px;
}

.header .intro .container .intro__text__wrapper .intro__btn {
  border-radius: 60px;
  background: #7854F7;
  padding: 20px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.header .intro .container .intro__text__wrapper .intro__btn:hover {
  background-color: #272D4E;
}

.header .intro .container .intro__text__wrapper .customize {
  background-color: transparent;
  color: #94A2B3;
  font-weight: bold;
}

.header .intro .container .intro__text__wrapper .customize:hover {
  background-color: transparent;
  color: #272D4E;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  height: 741px;
  background: #7854F7;
}

.footer .footer__top .container .gen {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
  border-bottom: 1px solid #9A7DFF;
}

.footer .footer__top .container .gen .footer__logo img {
  margin: 50px;
}

.footer .footer__top .container .gen .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -120px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 100px;
}

.footer .footer__top .container .gen .wrapper .check {
  position: relative;
}

.footer .footer__top .container .gen .wrapper .check::before {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  left: -50px;
  top: -10px;
  background-image: url(/img/Vector2.svg);
}

.footer .footer__top .container .gen .wrapper .radio {
  margin: 0 170px;
  position: relative;
}

.footer .footer__top .container .gen .wrapper .radio::before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(/img/v2.svg);
  background-repeat: no-repeat;
  left: -50px;
  top: -10px;
}

.footer .footer__top .container .gen .wrapper .safe {
  position: relative;
}

.footer .footer__top .container .gen .wrapper .safe::before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  background-repeat: no-repeat;
  left: -50px;
  top: -10px;
  background-image: url(/img/blok.svg);
}

.footer .footer__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 100px;
}

.footer .footer__bottom .container .menu .menu__list {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.footer .footer__bottom .container .menu .menu__list:nth-child(1) {
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.footer .footer__bottom .container .menu .menu__list:nth-child(1) b {
  color: #fff;
}

.footer .footer__bottom .container .menu .menu__list .menu__link {
  color: #fff;
}

.footer .footer__navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  height: 68px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__navbar .container {
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__navbar .container .wrapper a {
  margin-right: 30px;
}

.footer .footer__navbar .container address a {
  margin-top: 70px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #272D4E;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.main .simple {
  margin-top: 100px;
}

.main .simple .container {
  position: relative;
}

.main .simple .container .simple__title {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 70px;
  width: 457px;
  color: #272D4E;
}

.main .simple .container .card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
}

.main .simple .container .card__wrapper .pay__btn {
  background-color: transparent;
  border: none;
  position: relative;
  top: -160px;
}

.main .simple .container .card__wrapper .modal {
  position: absolute;
  width: 202px;
  left: -30px;
  top: 270px;
  display: none;
  height: 264px;
  z-index: 20;
}

.main .simple .container .card__wrapper .active {
  display: block;
}

.main .simple .container .card__wrapper .card {
  background-color: transparent;
  width: 350px;
  border-radius: 20px;
  border: none;
}

.main .simple .container .card__wrapper .card img {
  margin-left: -45px;
  margin-top: -36px;
  width: 440px;
}

.main .simple .container .card__wrapper .card .card__title {
  font-family: 'Roboto',sans-serif;
  font-size: 33px;
  font-weight: 700;
  color: #272D4E;
}

.main .simple .container .card__wrapper .card .card__describtion {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #94A2B3;
}

.main .simple .container .card__wrapper .card .card__btn {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #299EF3;
  padding-top: 55px;
}

.main .simple .container .card__wrapper .card:nth-child(4) {
  margin-top: 70px;
}

.main .simple .container .card__wrapper .card:nth-child(5) {
  margin-top: 140px;
}

.main .coworking {
  margin-top: 200px;
  height: 1100px;
  background-position: center;
  background-image: url(/img/bgsection.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .coworking .container .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -40px;
}

.main .coworking .container .block .text__wrapper {
  width: 480px;
  padding-left: 50px;
  margin-top: -20px;
}

.main .coworking .container .block .text__wrapper:nth-child(2) {
  margin-top: -50px;
}

.main .coworking .container .block .text__wrapper .block__title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
}

.main .coworking .container .block .text__wrapper .block__text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-bottom: 60px;
  font-weight: 400;
  line-height: 30px;
}

.main .coworking .container .block .text__wrapper .read__btn {
  padding: 17px;
  border-radius: 60px;
  background: #70C217;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.main .coworking .container .block .text__wrapper .read__btn:hover {
  background: #71d803;
}

.main .coworking .container .block:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: -50px;
}

.main .mentors {
  height: 1209px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 240, 253, 0)), color-stop(14.32%, rgba(236, 240, 253, 0.53)), color-stop(45.83%, #ECF0FD), color-stop(84.33%, rgba(236, 240, 253, 0.43)), to(rgba(236, 240, 253, 0)));
  background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
  text-align: center;
  padding-top: 100px;
}

.main .mentors button {
  border: none;
  background-color: transparent;
}

.main .mentors button:nth-child(1) {
  margin-top: 40px;
}

.main .mentors .container .mentors__title {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: 700;
  width: 520px;
  margin: 100px auto;
}

.main .mentors .container .blok {
  height: 391px;
  width: 730px;
  -webkit-box-shadow: 0px 18px 52px 0px #D7E4F980;
          box-shadow: 0px 18px 52px 0px #D7E4F980;
  background: #FFFFFF;
  margin: 100px auto;
  border-radius: 20px;
  background-image: url(/img/”.svg);
  background-repeat: no-repeat;
  background-position: center 28px;
}

.main .mentors .container .blok .blok__text {
  width: 566px;
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  line-height: 39px;
  color: #94A2B3;
}

.main .people .container {
  text-align: center;
}

.main .people .container .people__title {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: 700;
  color: #272D4E;
}

.main .people .container .people__text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0 auto;
  width: 660px;
  color: #94A2B3;
}

.main .people .people__bootom {
  margin-top: 300px;
  background: #5F37EF;
  height: 261px;
}

.main .people .people__bootom .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .people .people__bootom .container::before {
  content: '';
  height: 293px;
  width: 1311px;
  background-image: url(/img/groups.png), url(/img/Rectangl.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -293px;
  left: 0;
}

.main .people .people__bootom .container .people__bootom__text {
  font-family: 'Roboto', sans-serif;
  width: 855px;
  font-size: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left;
  padding-top: 75px;
  margin: 0 auto;
  line-height: 52px;
}

.main .people .people__bootom .container .getstart__btn {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  padding: 15px 20px;
  border-radius: 60px;
  display: inline-block;
  margin-top: 60px;
  margin-right: 150px;
}
