.header{
    background: rgb(229,229,229);
    background: linear-gradient(180deg, rgba(229,229,229,1) 18%, rgba(246,249,255,1) 51%);
    height: 680px;
    background-image: url(/img/V.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .menu{
            display: flex;
            margin-left: -100px;
            .menu__list{
                font-family: Roboto;
                font-size: 18px;
                font-weight: 500;
                margin-left: 30px;
                
                .menu__link{
                    color: #272D4E;
                    
                }
            }
        }
    }
    .navbar__right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .login, .getstart, .search__btn{
            background-color: transparent;
            border: none;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            margin-right: 30px;
        }
    }
    
    .intro{
        
        .container{
            position: relative;
            display: flex;
            align-items: center;
            .modal__shoes{
                background:#fff !important;
                display:  none;
                flex-direction: column;
                padding: 10px;
                height: 158px;
                width: 406px;
                border-radius: 23px;
                z-index: 20;
                right: 100px;
                top: 400px;
                border-radius: 23px;
                
                position: absolute;
                
                .span{
                    padding: 0 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #E5EFFF;
                    
                    &:last-child{
                        border: none;
                    }
                    
                    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: blue;
  -webkit-transition: .4s;
  transition: .4s;
}

}


input:checked + .slider {
  background-color: #70C217;

}
input:checked + .slider{

    &::before{
        background-color: white;
    }
}
input:focus + .slider {
  box-shadow: 0 0 1px #70C217;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;

  
&:before {
  border-radius: 50%;
}
}

                }
                
            }
            .activ{
                
                display: flex;
            }
            
            .img__wrapper{
                margin: -80px;
                height: 350px;
                width: 600px;
                border-radius: 20px;
                border: 1px solid #E5EFFF;
                background: #FFFFFF;
                
                display: flex;
                align-items: center;
                text-align: center;
                img{
                    margin-left: -1px;
                }
                
                .text__wrapper{
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    font-weight: 700;
                    text-align: left;
                    margin-top: -250px;
                    position: relative;
                    
                    p{
                        padding-left: 20px;
                        margin-top: 50px;
                        color: #868686;
                        
                        b{
                            color: #272D4E;
                            
                        }
                        
                    }
                    .shoes__title{
                        font-family: 'Roboto', sans-serif;
                        padding-left: 20px;
                        font-size: 29px;
                        width: 250px;
                        font-weight: 400;
                        text-align: left;
                        
                    }    
                }
                
                .shoes__btn{
                    position: absolute;
                    top: 280px;
                    margin-left: 20px;
                    height: 49px;
                    padding: 0 40px;
                    border-radius: 4px;
                    background: #7854F7;
                    color: #fff;
                    border: none;
                }
                .sale__btn{
                    border: none;
                    height: 54px;
                    width: 117px;
                    border-radius: 37px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 19px;
                    font-weight: 700;
                    letter-spacing: 0.4em;
                    text-align: center;
                    background: #70C217;                 position: absolute;
                    right: 345px;
                    top: 50px;
                    color: #fff;
                }
                .sell__btn{
                    border: none;
                    width: 75px;
                    height: 75px;
                    z-index: 30;
                    position: absolute;
                    background: #FFBA49;
                    background-repeat: no-repeat;
                    background-image: url(/img/Union.svg);
                    background-position: center;
                    border-radius: 50%;
                    right: 540px;
                    top: 320px;
                    
                }
            }
            
            .intro__text__wrapper{
                padding: 100px 0 0 50px;
                .intro__title{
                    font-family: 'Roboto', sans-serif;
                    font-size: 68px;
                    font-weight: 700;
                    width: 750px;
                }
                
                .intro__text {
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    width: 710px;
                    color: #94A2B3;
                    padding: 29px 0 57px;
                }
                
                .intro__btn {
                    border-radius: 60px;
                    background: #7854F7;
                    padding: 20px;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 500;
                    color: #fff;
                    &:hover{
                        background-color: #272D4E;
                        
                    }
                }
                
                
                .customize{
                    background-color: transparent;
                    color: #94A2B3;
                    font-weight: bold;
                    &:hover{
                        background-color: transparent;
                        color: #272D4E;
                    }
                }
            }
            
            
        }
    }
}